django==1.11.29
PyJWT==0.4.2
rsa==3.4
requests==2.21.0
feedparser==6.0.8
mkdocs==1.0.4
mkdocs-material==4.0.2
numpy==1.21.0
jieba
colorlog
colorama
seqeval
dill<0.3.5
multiprocess<=0.70.12.2
datasets >= 2.0.0
tqdm
paddlefsl
sentencepiece
paddle2onnx
protobuf>=3.1.0, <=3.20.0
visualdl
attrdict==2.0.1
PyYAML==5.4.1
subword-nmt==0.3.7
jieba==0.42.1
websocket-client==1.0.1
backports-abc==0.5
certifi==2017.4.17
chardet==3.0.4
click==6.7
Faker==0.7.17
Flask==0.12.2
Flask-SQLAlchemy==2.2
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.2.1
MarkupSafe==1.0
MySQL-python==1.2.5
PyJWT==1.5.2
python-dateutil==2.6.0
python-docx==0.8.5
PyYAML==3.12
requests==2.18.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.11
tornado==4.5.1
urllib3==1.21.1
Werkzeug==0.14.1
